*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
    
  } 

  body {
    margin: 0; 
    padding: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-end; 
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #f5d6ba, #4e2a1b);

  }

  /*<<<<<<<<<<<<<<<<<<<      first container      >>>>>>>>>>>>>>*/
  .container-fluid {
    margin: 0;
    padding: 0 20px;
    width: 100%;
  }

  .top{
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: transparent;
  }
.navbar-top{
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.597);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center space-between;
    background-color: rgb(255, 228, 196);
}
.nav-item{
    background-color: transparent;
}
.navbar{
    z-index: 999;
    margin: 0;
    width: 100%;
    justify-content: center;
    background-color: rgba(238, 222, 204, 0.51);
    box-shadow: inset;

}
.navbar-toggler{
    background-color: transparent;
}
.navbar-nav{
    background-color: transparent;
}

.social-link i img{
    background-color: transparent;
    margin-left:10px;
    transition: 1s ease;
    cursor: pointer;
}
.sociala-link i img:hover{
    border-radius: 50px ;
}
@media screen and (max-width:420px){
    .social-link i img{
        width:20px;
    }
}

.logo{
    background: transparent;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:420px){
    .logo h3{
        font-size: 0px;
        border: 0px;
    }
}

.icons{
    gap: 3px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
}
@media screen and (max-width:420px){
    .icons i img{
        width:20px;
    }
}


.navbar-nav{
    justify-content: center; 
}

.nav-link{
    margin-left: 30px;
    font-weight: bold;
    color: rgb(104, 49, 49);
    cursor: pointer;
}
.nav-link:hover{
    color: rgb(184, 115, 75);
}

.fareed{
    position: fixed;
}
.farid{
    position: fixed;
    width: 15%;
    min-width: 200px;
    right: 50px;
    bottom: 230px;
}
.speech{
    position: fixed;
    right: 5px;
    bottom: 60px;
    width: 20%;
    height: 20%;
    min-width: 200px;
    z-index: 2000;
    text-align: center;
    background-color: rgba(250, 235, 215, 0.855);
    border-radius: 20px;
}


/*   **************************         form          ****************         */
.form-container {
    background-color: #ffdebe9a;
    max-width: 800px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 0;
    margin-bottom: 200px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.358);
  }
  .form-title {
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    color: #5e3b2c;
  }

/* <<<<<<<<<<   footer  >>>>>>>>>*/

#footer{
    display: flex;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: rgb(95, 50, 30);
    margin-top: 00px;
    padding: 20px 10px;
    flex-direction: column;
    text-align: center;
}
#footer h1{
    color: white;
    padding-top: 30px;
}
#footer p{
    color:white
}
.icons{
    background-color: transparent;
    color: rgb(241, 221, 184);
    font-size: 30px;
    cursor: pointer;
}
.copyright{
    justify-content: center;
    color: white;
    margin-top: 20px;
}
.cridet{
    color: aliceblue;
}